<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZOMIUM | Games</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">
<%- include("partials/navbar") %>
<% const viewer = typeof currentUser !== "undefined" ? currentUser : null; %>

<h1> 

Welcome to admin panel, <%= viewer ? viewer.username : "Guest" %>!

</h1>




<%- include("partials/footer") %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
 </body>
 </html>
