# This is terrible!
<IfModule mod_rewrite.c>
    RewriteEngine on 
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^info/credits /info/credits.php [END]

	RewriteRule ^users/([0-9]+)/profile$ /users/profile.php?id=$1		  [END]

	RewriteRule ^users/([0-9]+)$  /users/profile.php?id=$1&redirect=true  [END]
	RewriteRule ^users/([0-9]+)/$ /users/profile.php?id=$1&redirect=true  [END]
	
	RewriteRule ^users/([0-9]+)/friends?(.*) /users/friends.php?id=$1&$2  [QSA,END]
	RewriteRule ^users/([0-9]+)/friends$ /users/friends.php?id=$1  [END]
	RewriteRule ^users/([0-9]+)/followers$ /users/followers.php?id=$1  [END]
	RewriteRule ^users/([0-9]+)/following$ /users/following.php?id=$1  [END]
	RewriteRule ^users/([0-9]+)/css$ /users/css.php?id=$1  [END]
	RewriteRule ^users/([0-9]+)/css/force$ /users/css.php?id=$1&force [END]


	RewriteRule ^users/([0-9]+)/canmanage/([0-9]+)$ /users/api/canmanage.php?userId=$1&placeId=$2  [END]
	RewriteRule ^users/([0-9]+)/canmanage/([0-9]+)/$ /users/apicanmanage.php?userId=$1&placeId=$2  [END]
	RewriteRule ^Users/([0-9]+)$ /users/api/data.php?id=$1  [END]
	RewriteRule ^users/get-by-username$ /users/api/get-by-username.php  [END]
	RewriteRule ^game/players/([0-9]+)$ /users/api/players.php?userId=$1  [END]
	RewriteRule ^game/players/([0-9]+)/$ /users/api/players.php?userId=$1  [END]

	RewriteRule ^asset/?$ /core/utilities/assetdeliverer.php			  [END]
	RewriteRule ^Asset/?$ /core/utilities/assetdeliverer.php 			  [END]
	
	RewriteRule ^IDE/Landing.aspx$ /core/ide/landing.php				  		  [END]
	RewriteRule ^ide/welcome$ /my/places.php				  		  [END]
	RewriteRule ^IDE/welcome$ /my/places.php				  		  [END]
	RewriteRule ^My/Places.aspx$ /my/places.php				  		  [END]

	RewriteRule ^IDE/Upload.aspx$ /core/ide/publish.php				  		  [END]
	RewriteRule ^ide/publish$ /core/ide/publish.php				  		  [END]
	RewriteRule ^IDE/PublishNewPlace.aspx$ /core/ide/publishnewplace.php				  		  [END]
	RewriteRule ^IDE/ClientToolbox.aspx	/core/ide/toolbox.php			  [END]

	RewriteRule ^Data/Upload.ashx	/core/ide/upload.php			  [END]

	RewriteRule ^ide/toolbox/items /core/ide/toolbox/items.php			  [END]
	RewriteRule ^IDE/Toolbox/Search /core/ide/toolbox/search.php			  [END]
	RewriteRule ^IDE/Toolbox/GetTotalNumberOfResults /core/ide/toolbox/gettotalnumber.php			  [END]

	RewriteRule ^Game/Upload.aspx /core/ide/goingupload.php			  [END]

	RewriteRule ^Login/Negotiate.ashx$ /core/gameapis/authentication/negotiate.php [END]
	RewriteRule ^Login/RequestAuth.ashx$ /core/gameapis/authentication/requestauth.php [END]
	RewriteRule ^login/RequestAuth.ashx$ /core/gameapis/authentication/requestauth.php [END]
	RewriteRule ^game/GetCurrentUser.ashx$ /core/gameapis/authentication/getcurrentuser.php [END]
	RewriteRule ^Game/GetCurrentUser.ashx$ /core/gameapis/authentication/getcurrentuser.php [END]
	
	RewriteRule ^Game/PlaceSpecificScript.ashx$ /core/gameapis/gamescripts/placespecificscript.php   [END]

	RewriteRule ^Game/LuaWebService/HandleSocialRequest.ashx$ /core/gameapis/social/socialrequests.php   [END]
	
	RewriteRule ^Game/LoadPlaceInfo.ashx$ /core/gameapis/gamescripts/loadplaceinfo.php   [END]
	RewriteRule ^game/gameserver.ashx$ /core/gameapis/gamescripts/gameserver.php	  [END]
	RewriteRule ^game/join.ashx$ /core/gameapis/gamescripts/join.php				  [END]
	RewriteRule ^game/studio.ashx$ /core/gameapis/gamescripts/studio.php			  [END]
	RewriteRule ^game/visit.ashx$ /core/gameapis/gamescripts/visit.php 			  [END]
	RewriteRule ^game/edit.ashx$ /core/gameapis/gamescripts/edit.php			  [END]
	RewriteRule ^game/load-place-info$ /core/gameapis/places/load-place-info.php			  [END]

	RewriteRule ^game/2013/host.ashx$       /core/gameapis/gamescripts/2013/host.php			[END]
	RewriteRule ^game/2013/join.ashx$       /core/gameapis/gamescripts/2013/join.php			[END]
	RewriteRule ^game/2013join.ashx$        /core/gameapis/gamescripts/2013/join.php			[END]
	RewriteRule ^game/2013/gameserver.ashx$ /core/gameapis/gamescripts/2013/gameserver.php	[END]
	
	RewriteRule ^Game/LuaWebService/HandleSocialRequest.ashx /core/gameapis/social/socialrequests.php [END]
	RewriteRule ^userblock/getblockedusers /core/gameapis/social/getblockedusers.php [END]
	RewriteRule ^user/following-exists /core/gameapis/social/following-exists.php [END]
	RewriteRule ^user/get-friendship-count /core/gameapis/social/get-friendship-count.php [END]
	RewriteRule ^user/follow /core/gameapis/social/follow.php [END]
	RewriteRule ^user/unfollow /core/gameapis/social/unfollow.php [END]
	RewriteRule ^user/request-friendship /core/gameapis/social/request-friendship.php [END]
	RewriteRule ^user/decline-friend-request /core/gameapis/social/decline-friend-request.php [END]
	
	RewriteRule ^login$ login.php										  [END]
	RewriteRule ^Login$ login.php										  [END]
	RewriteRule ^register$ register.php										  [END]
	RewriteRule ^Register$ register.php										  [END]
	
    RewriteRule ^admi/?$ /Admi/index.php [END,QSA]
    RewriteRule ^admin/?$ /Admi/index.php [END,QSA]
    RewriteRule ^videos/?$ videos.php                           [END]
    RewriteRule ^gallery$ gallery.php                            [END]
    RewriteRule ^gallery/([A-Za-z0-9]+)$ /gallery_item.php?id=$1 [END]
    RewriteRule ^forum$ forum.php                                [END]
    RewriteRule ^create$ /create.php                             [END]
    RewriteRule ^about$ about.php                                [END]
    RewriteRule ^about-us$ about.php                             [END]
    RewriteRule ^legal$ legal.php                                [END]
    RewriteRule ^terms$ terms.php                                [END]
    RewriteRule ^privacy$ privacy.php                            [END]
    RewriteRule ^privacy-policy$ privacy.php                     [END]
    RewriteRule ^vandals$ vandals.php                            [END]

	RewriteRule ^my/home$ /my/home.php									  [END]
	RewriteRule ^my/stuff$ /my/stuff.php									  [END]
	RewriteRule ^my/profile$ /my/profile.php							  [END]
	RewriteRule ^my/places$ /my/places.php							  [END]
	RewriteRule ^my/character$ /my/character.php							  [END]
	RewriteRule ^my/friends$ /my/friends.php							  [END]
	RewriteRule ^my/settings/json /core/gameapis/authentication/settings.php [END]

	RewriteRule ^universes/get-universe-containing-place /core/gameapis/universes/get-universe-containing-place.php [END]
	RewriteRule ^universes/([0-9]+)/cloudeditenabled /core/gameapis/universes/cloudeditenabled.php?universeId=$1 [END]
	RewriteRule ^universes/([0-9]+)/game-start-info /core/gameapis/universes/game-start-info.php [END]
	RewriteRule ^universes/([0-9]+)/enablecloudedit /core/gameapis/universes/enablecloudedit.php?universeId=$1 [END]
	RewriteRule ^universes/([0-9]+)/disablecloudedit /core/gameapis/universes/disablecloudedit.php?universeId=$1 [END]
	RewriteRule ^universes/([0-9]+)/listcloudeditors /core/gameapis/universes/listcloudeditors.php?universeId=$1 [END]

	RewriteRule ^universes/([0-9]+)/addcloudeditor?(.*) /core/gameapis/universes/addcloudeditor.php?universeId=$1&$2       [QSA,END]
	RewriteRule ^universes/([0-9]+)/removecloudeditor?(.*) /core/gameapis/universes/removecloudeditor.php?universeId=$1&$2 [QSA,END]

	RewriteRule ^places/([0-9]+)/settings /core/gameapis/places/settings.php?placeId=$1 [END]
	RewriteRule ^universes/get-info$ /core/gameapis/universes/get-info.php [END]
	RewriteRule ^universes/validate-place-join$ /core/gameapis/universes/validate-place-join.php [END]
	RewriteRule ^universes/get-universe-places$ /core/gameapis/universes/get-universe-places.php [END]
	RewriteRule ^universes/get-aliases$ /core/gameapis/universes/get-aliases.php [END]
	
	RewriteRule ^developerproducts/list$ /core/gameapis/universes/developerproducts.php [END]
	
	RewriteRule ^game/logout.aspx$ /core/api/logout.php							  [END]
	RewriteRule ^Game/logout.aspx$ /core/api/logout.php							  [END]
	RewriteRule ^api/(.*)$ /core/api/$1.php							  [END]
	
	
	
	RewriteRule ^inbox /mobile/inbox.php							  [END]
	RewriteRule ^home$ /mobile/home.php							  [END]
	RewriteRule ^mobile-app-upgrades/native-ios/bc$ /mobile/nocurrencylol.php							  [END]
	RewriteRule ^mobile-app-upgrades/native-ios/robux$ /mobile/nocurrencylol.php							  [END]
	RewriteRule ^mobile/games$ /mobile/games.php							  [END]
	RewriteRule ^mobile/games/$ /mobile/games.php							  [END]

	RewriteRule ^signup/is-username-valid$ /core/api/mobile/is-username-valid.php [END]
	RewriteRule ^signup/is-password-valid$ /core/api/mobile/is-password-valid.php [END]
	RewriteRule ^UserCheck/getrecommendedusername$ /core/api/mobile/getrecommendedusername.php [END]
	
	RewriteRule ^mobileapi/(.*)/$ /core/api/mobile/$1.php							  [END]
	RewriteRule ^mobileapi/(.*)$ /core/api/mobile/$1.php							  [END]

	RewriteRule ^Game/Tools/InsertAsset.ashx$ /core/insertasset.php [END]

	RewriteRule ^Game/AreFriends$ /core/gameapis/social/arefriends.php [END]

	RewriteRule ^create/(.*?)$ /create.php?type=$1 [END]
	RewriteRule ^create.php$ /core/error/404.php [END]

	RewriteRule ^UploadMedia/PostImage.aspx /core/gameapis/uploadmedia/postimage.php [END]
	RewriteRule ^UploadMedia/UploadVideo.aspx /core/gameapis/uploadmedia/uploadvideo.php [END]

	RewriteRule ^Sets/SetHandler.ashx /core/gameapis/sets/setshandler.php [END]
	RewriteRule ^sets/SetsHandler.ashx /core/gameapis/sets/setshandler.php [END]

	RewriteRule ^sets/get-roblox-sets /core/gameapis/sets/get-roblox-sets.php [END]
	
	RewriteRule ^Game/Tools/ThumbnailAsset.ashx /images/unavailable-75.png [END]
	RewriteRule ^game/Tools/ThumbnailAsset.ashx /images/unavailable-75.png [END]
	RewriteRule ^Thumbs/Avatar.ashx /core/thumbs/player.php [END]
	RewriteRule ^thumbs/avatar.ashx /core/thumbs/player.php [END]

	RewriteRule ^Thumbs/RawAsset.ashx /core/thumbs/rawasset.php [END]
	RewriteRule ^thumbs/RawAsset.ashx /core/thumbs/rawasset.php [END]
	RewriteRule ^Thumbs/Asset.ashx /core/thumbs/rawasset.php [END]
	RewriteRule ^thumbs/Asset.ashx /core/thumbs/rawasset.php [END]
	RewriteRule ^thumbs/?$ /core/thumbs/index.php [END]
	RewriteRule ^thumbs/player?$ /core/thumbs/player.php [END]
	RewriteRule ^thumbs/profile?$ /core/thumbs/profile.php [END]
	RewriteRule ^thumbs/headshot?$ /core/thumbs/headshot.php [END]
	RewriteRule ^thumbs/unavailable.jpg?$ /images/unavailable-75.png [END]

	RewriteRule ^thumbnail/avatar-headshot?$ /core/thumbs/fakeheadshot.php [END]

	RewriteRule ^marketplace/productinfo$ /core/gameapis/marketplace/productinfo.php [END]
	RewriteRule ^marketplace/productDetails$ /core/gameapis/marketplace/productinfo.php [END]
	RewriteRule ^marketplace/purchase$ /core/gameapis/marketplace/purchase.php [END]
	RewriteRule ^ownership/hasasset$ /core/gameapis/marketplace/hasasset.php [END]
	RewriteRule ^ownership/hasAsset$ /core/gameapis/marketplace/hasasset.php [END]
	RewriteRule ^gametransactions/getpendingtransactions/$ /core/gameapis/marketplace/getpendingtransactions.php [END]
	RewriteRule ^gametransactions/getpendingtransactions$ /core/gameapis/marketplace/getpendingtransactions.php [END]
	RewriteRule ^currency/balance$ /core/gameapis/marketplace/balance.php [END]
	
	RewriteRule ^download/thankyou$ /download/thankyou.php [END]
	RewriteRule ^moderation/v2/filtertext$  /core/gameapis/moderation/filtertext.php [END]
	RewriteRule ^moderation/v2/filtertext/$ /core/gameapis/moderation/filtertext.php [END]
	RewriteRule ^moderation/filtertext/     /core/gameapis/moderation/filtertext.php [END]
	RewriteRule ^/moderation/filtertext/    /core/gameapis/moderation/filtertext.php [END]

	RewriteRule ^edit$ /edit.php [END]

	RewriteCond %{QUERY_STRING} id=(.+)
	RewriteRule ^(.*)-item$ /item.php?name=$1&id=%1 [QSD,END]
	RewriteCond %{QUERY_STRING} id=(.+)
	RewriteRule ^(.*)-place$ /place.php?name=$1&id=%1 [QSD,END]
	
	RewriteRule ^Asset/BodyColors.ashx$ /core/gameapis/character/bodycolors.php 			  [END]
	RewriteRule ^Asset/CharacterFetch.ashx$ /core/gameapis/character/characterfetch.php 			  [END]
	RewriteRule ^Asset/GetScriptState.ashx$ /core/gameapis/authentication/getscriptstate.txt 			  [END]
	RewriteRule ^asset/GetScriptState.ashx$ /core/gameapis/authentication/getscriptstate.txt 			  [END]

	# SHUT THE FUCK UPP!!!!!
	RewriteRule ^Error/Dmp.ashx$ /core/nothing.txt [END]
	RewriteRule ^v1.1/Counters/Increment/?$ /core/nothing.txt [END]
	RewriteRule ^v1.1/counters/increment/?$ /core/nothing.txt [END]
	RewriteRule ^game/report-stats?$ /core/nothing.txt [END]
	RewriteRule ^Game/report-stats?$ /core/nothing.txt [END]
	RewriteRule ^game/validate-machine?$ /core/success.txt [END]
	RewriteRule ^mac-address/validate-machine?$ /core/success.txt [END]
	RewriteRule ^Game/validate-machine?$ /core/success.txt [END]

	RewriteRule ^game/MachineConfiguration.ashx?$ /core/gameapis/authentication/machineconfiguration.txt [END]
	RewriteRule ^Game/MachineConfiguration.ashx?$ /core/gameapis/authentication/machineconfiguration.txt [END]

	RewriteRule ^Game/KeepAlivePinger.ashx?$ /core/gameapis/authentication/keepalivepinger.txt [END]

	RewriteRule ^game/PlaceLauncher.ashx?$ /core/gameapis/gamescripts/placelauncher.php [END]
	RewriteRule ^Game/PlaceLauncher.ashx?$ /core/gameapis/gamescripts/placelauncher.php [END]
	RewriteRule ^game/PlaceLauncher.ashx/?$ /core/gameapis/gamescripts/placelauncher.php [END]
	RewriteRule ^Game/PlaceLauncher.ashx/?$ /core/gameapis/gamescripts/placelauncher.php [END]
	
	RewriteRule ^game/([0-9]+)$ /place.php?name=a&id=$1 [END]
	RewriteRule ^Game/([0-9]+)$ /place.php?name=a&id=$1 [END]

	RewriteRule ^games$ /games.php [END]
	RewriteRule ^catalog$ /catalog.php [END]

	RewriteRule ^test$ /test.php [END]

	# persistence
	RewriteRule ^persistence/getV2.aspx      /core/gameapis/persistence/getv2.php     [END]
	RewriteRule ^persistence/getV2           /core/gameapis/persistence/getv2.php     [END]
	RewriteRule ^persistence/getSortedValues           /core/gameapis/persistence/getv2.php     [END]
	RewriteRule ^persistence/increment.aspx  /core/gameapis/persistence/increment.php [END]
	RewriteRule ^persistence/set.aspx        /core/gameapis/persistence/set.php       [END]
	RewriteRule ^persistence/set             /core/gameapis/persistence/set.php       [END]

	#datastores
	RewriteRule ^Persistence/SetBlob.ashx /core/gameapis/datastores/setblob.php [END]
	RewriteRule ^Persistence/GetBlob.ashx /core/gameapis/datastores/getblob.php [END]

	RewriteRule ^Setting/QuietGet/AndroidAppSettings/$                /core/gameapis/settings/ClientAppSettings.json    [END]
	RewriteRule ^Setting/QuietGet/ClientAppSettings/$                 /core/gameapis/settings/ClientAppSettings.json    [END]
	RewriteRule ^Setting/QuietGet/ClientSharedSettings/$              /core/gameapis/settings/ClientSharedSettings.json [END]
	RewriteRule ^Setting/QuietGet/WindowsBootstrapperSettings/$       /core/gameapis/settings/Bootstrapper.json         [END]
	RewriteRule ^Setting/QuietGet/WindowsStudioBootstrapperSettings/$ /core/gameapis/settings/Bootstrapper.json         [END]
	
	RewriteRule ^games.php$ /core/error/404.php [END]
	RewriteRule ^games.php$ /core/error/404.php [END]
	RewriteRule ^catalog.php$ /core/error/404.php [END]
	RewriteRule ^edit.php$ /core/error/404.php [END]
	RewriteRule ^item.php$ /core/error/404.php [END]
	RewriteRule ^place.php$ /core/error/404.php [END]
	RewriteRule ^README.md$ /core/error/404.php [END]
	RewriteRule ^info/credits.php$ /core/error/404.php [END]

	RewriteRule ^GetAllowedMD5Hashes/$ /core/gameapis/authentication/getallowedmd5hashes.php [END]
	RewriteRule ^GetAllowedSecurityKeys/$ /core/gameapis/authentication/getallowedsecuritykeys.php [END]
	RewriteRule ^GetAllowedSecurityVersions/$ /core/gameapis/authentication/getallowedsecurityversions.php [END]

	RewriteRule ^core/error/404.php /core/error/404.php [END]
	RewriteRule ^core/error/500.php /core/error/500.php [END]
    RewriteRule ^core/error/403.php /core/error/403.php [END]
	
	RewriteRule ^Admin/components/(.*)$ Admin/components/$1.php [END]

	RewriteRule ^core(/.*)?$ /core/error/404.php [END]
	RewriteRule ^users(/.*)?$ /core/error/404.php [END]
	RewriteRule ^api(/.*)?$ /core/error/404.php  [END]
	RewriteRule ^.git(/.*)?$ /core/error/404.php  [END]
    RewriteRule ^(?:media|images|css)/?$ /core/error/403.php [NC,END]
</IfModule>

Options -Indexes
DirectoryIndex index.php index.html Default.aspx Default.aspx.php
ErrorDocument 403 /core/error/403.php
ErrorDocument 404 /core/error/404.php
ErrorDocument 500 /core/error/500.php











