RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
RewriteRule $(.*)^ index.php [L,NC,QSA]

ErrorDocument 403 /403.php
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php

RedirectMatch 404 ^README.md$
RedirectMatch 404 !important/.*$

RedirectMatch 404 ^_htaccess$
RedirectMatch 404 ^LICENSE$
RedirectMatch 404 /\\.git
RedirectMatch 403 (?i)^/private/.*$
RedirectMatch 403 (?i)^private/.*$
RedirectMatch 403 (?i)^/vendor/.*$
RedirectMatch 403 (?i)^vendor/.*$
RedirectMatch 404 (?i)composer\.(json|lock)$

php_flag display_errors on