#CatalogContainer {
	background: #222;
	padding: 10px;
	border: 2px solid black;
}

#CatalogContainer #OptionsPanel {
	float: left;
	
}

#CatalogContainer #CategoriesChooser,
#CatalogContainer #FiltersChooser {
	border: 2px solid black;
	background: #1a1a1a;
	width: 175px;
}

#CatalogContainer #CategoriesChooser h4,
#CatalogContainer #FiltersChooser h4 {
	margin: 0;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
}

#CatalogContainer #CategoriesChooser ul,
#CatalogContainer #FiltersChooser ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

#CatalogContainer #CategoriesChooser li > a,
#CatalogContainer #FiltersChooser li > a {
	padding: 4px 6px;
	display: block;
	border: 2px solid black;
	margin: 5px;
	background: #111;
}

#CatalogContainer #CategoriesChooser li:hover,
#CatalogContainer #FiltersChooser li:hover {
	cursor: pointer;
}

#CatalogContainer #CategoriesChooser li[selected] > a,
#CatalogContainer #FiltersChooser li[selected] > a {
	font-weight: bold;
	text-decoration: underline;
	background: #1a1a1a;
}

#CatalogContainer #AssetsContainer {
	float: left;
	border: 2px solid black;
	margin-left: 6px;
	background: #1a1a1a;
	
}

#CatalogContainer #AssetsContainer #Paginator {
	margin-bottom: 0px;
}

/*#CatalogContainer #AssetsContainer .Asset {
	background: #2d2d2d;
}

#CatalogContainer #AssetsContainer .Asset #Pricing {
	background: #262626;
}*/

#CatalogContainer #AssetsContainer .Asset #FavouritesArea {
	margin-bottom: -15px;
	height: 15px;
	border: 2px solid black;
	background: #222;
	position: absolute;
	z-index: 2;
	padding: 2px 5px;
}

#CatalogContainer #AssetsContainer .Asset #FavouritesArea > img {
	width: 16px;
	margin-bottom: -3px;
}

#CatalogContainer #AssetsContainer .Asset #FavouritesArea > span {
	font-size: 12px;
	padding: 4px;
	color: white;
}