#CommentsContainer {
	margin-top: 10px;
}

#CommentsContainer #CommentSection {
	padding: 5px;
	background: #222;
	border: 2px solid black;
}

#CommentsContainer #CommentSection #CommentsDisabled {
	text-align: center;
	padding: 20px;
	font-size: 14px;
}

.Comment {
	padding: 5px;
	border: 2px solid black;
	background: #121212;
}

.Comment[other] {
	background: #0a0a0a;
}

.Comment > div {
	float: left;
}

.Comment #CommenterAvatar > a > img {
	width: 115px;
	height: 115px;
	border: 2px solid black;
	margin-right: 5px;
	background: #333;
}

.Comment #CommentPartArea #CommentInfoArea {
	border-bottom: 1px solid gray;
	padding: 3px;
	padding-top: 0px;
}

.Comment #CommentPartArea #CommentInfoArea > a {
	font-weight: bold;
}

.Comment #CommentPartArea #CommentInfoArea > span {
	font-size: 10px;
	font-style: italic;
	color: #aaa;
}

.Comment #CommentPartArea > code {
	margin-top: 5px;
	display: block;
	border: 2px solid black;
	padding: 5px;
	background: #222;
	width: 704px;
	height: 82px;
}

#CommentPostArea {
	padding: 5px;
	background: #222;
	border: 2px solid black;
}

#CommentPostArea > form > * {
	margin: 5px;
}

#CommentPostArea textarea {
	border: 2px solid black;
	display: block;
	width: 830px;
	height: 80px;
	resize: none;
	background: #3a3a3a;
	padding: 5px;
	color: white;
}

#CommentPostArea textarea::placeholder {
	color: gray;
	font-style: italic;
}

#CommentPostArea input[type="submit"] {
	border: 2px solid black;
	padding: 3px 10px;
	font-family: punk;
	color: white;
	background: black;
	cursor: pointer;
}

#CommentPostArea input[type="submit"]:hover {
	background: #222;
}

#CommentPostArea .Error {
	border: 1px solid white;
	padding: 2px 5px;
	background: #c30000;
	font-weight: bold;
}