#NewUsersContainer {
	margin-top: -35px;
	margin: 10px;
}

#NewUsersContainer h3 {
	margin-bottom: 0px;
	margin-left: 15px;
	width: 150px;
	text-align: center;
}

#NewUsersContainer #NewUsersBox {
	border: 2px solid #090909;
	margin: 0 auto;
	background: #171717;
	padding: 10px;
	padding-left: 15px;
	width: 100%;
}

#NewUsersContainer #NewUsersBox .User {
	border: 2px solid #090909;
	background: #282828;
	width: 104px;
	display:inline-block;
	padding: 5px;
	text-align: center;
	margin-right: 5px;
	vertical-align: middle;
}

#NewUsersContainer #NewUsersBox .User img {
	width: 100px;
	border: 2px solid #090909;
	background: #1a1919;
}

#NewUsersContainer #NewUsersBox .User span {
	width: 100px;
	display: block;
	font-family: punk;
	font-weight: bold;
	word-break: break-all;
	margin: 0 auto;
	height: 28px;
}

#IntroductoryArea {
	margin-bottom: 15px;
}

#IntroductoryArea > h2 {
	margin: 0px;
	width: calc(100% - 48px);
	margin-bottom: 20px;
	text-align: center;
	background: none repeat-x;
	background-size: 49px auto;
	border: 4px solid black;
	height: 21px;
	background-blend-mode: difference;
	background-image: linear-gradient(#ffb300,#ffb300),url("/public/images/header/navbar.jpg");
	overflow: hidden;
}

#IntroductoryArea #LogoPitch {
	background: black;
	width: 290px;
	height: 216px;
	transform: rotate(4deg);
	margin-left: 7px;
	float: left;
}

#IntroductoryArea #LogoPitch img {
	width: 100%;
	transform: rotate(-8deg);
	margin-top: -4px;
}

#IntroductoryArea #TeapotsMayhem {
	background: black;
	width: 500px;
	height: 234px;
	transform: rotate(-2deg);
	float: left;
	margin-left: 55px;
	margin-top: 11px;
	margin-bottom: 15px;
}

#IntroductoryArea #TeapotsMayhem img,
#IntroductoryArea #TeapotsMayhem iframe {
	width: 100%;
	transform: rotate(4deg);
	margin-top: -14px;
}

#IntroductoryArea #TeapotsMayhem iframe {
	border: 2px solid white;
	background: black;
}

#IntroductoryArea #GracingIt {
	background: black;
	width: 234px;
	height: 234px;
	transform: rotate(2deg);
	margin-left: 15px;
	float: left;
}

#IntroductoryArea #GracingIt img {
	position: relative;
	margin-top: -4px;
	width: 100%;
	transform: rotate(-4deg);
	z-index: 5;
}

#IntroductoryArea #GracingIt #Label {
	font-family: punk;
	font-weight: bold;
	font-size: 18px;
	padding: 5px 10px;
	width:100%;
	transform: rotate(-2deg);
	background: black;
	text-align: center;
	margin-top: -5px;
	margin-left: -8px;
	z-index: 0;
	letter-spacing: 5px;
}

#IntroductoryArea #GracingIt #Label #Notice {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 5px;
	padding-top: 2px;
	font-style: italic;
	color: #AAA;
	letter-spacing: 3px;
}

#FirstRow, #SecondRow {
	clear: both;
}

#Details {
	margin-top: 20px;
	margin-left: 55px;
	width: 550px;
	height: 240px;
	float: left;
	transform: rotate(3deg);
	margin-bottom: 25px;
}

#Details h2 {
	margin: 0px;
	transform: rotate(-3deg);
	padding: 5px 50px;;
	padding-left: 50px;
	margin-left: 15px;
	letter-spacing: 2px;
}

#Details code {
	margin-top:-5px;
	display: block;
	background: black;
	transform: rotate(-2deg);
	padding: 25px;
	margin-left: -15px;
	font-size: 12px;
}

/* Animation shit goes here yay hi! */
#IntroductoryArea #LogoPitch,
#IntroductoryArea #LogoPitch img {
	transition: transform 0.5s;
}

#IntroductoryArea #LogoPitch {
	z-index: 5;
	position:relative;
	display: block;
}

#IntroductoryArea #LogoPitch:hover {
	transform: scale(1.05) rotate(-6deg);
}

#IntroductoryArea #LogoPitch:hover img {
	transform: scale(1.025) rotate(10deg);
}

#IntroductoryArea #TeapotsMayhem,
#IntroductoryArea #TeapotsMayhem img,
#IntroductoryArea #TeapotsMayhem iframe {
	transition: transform 0.5s;
}

#IntroductoryArea #TeapotsMayhem {
	z-index: 5;
	position:relative;
	display: block;
}

#IntroductoryArea #TeapotsMayhem:hover {
	transform: scale(1.05) rotate(-6deg);
}

#IntroductoryArea #TeapotsMayhem:hover img,
#IntroductoryArea #TeapotsMayhem:hover iframe {
	transform: scale(1.025) rotate(10deg);
}

#IntroductoryArea #Details {
	z-index: 1;
	position:relative;
}

#IntroductoryArea #GracingIt,
#IntroductoryArea #GracingIt img,
#IntroductoryArea #GracingIt #Label {
	transition: transform 0.5s, margin-left 0.5s;
}

#IntroductoryArea #GracingIt:hover {
	transform: scale(1.05) rotate(-6deg);
}

#IntroductoryArea #GracingIt:hover #Label {
	transform: scale(0.9) rotate(6deg);
	margin-left: -18px;
}

#IntroductoryArea #GracingIt:hover img {
	transform: scale(1.025) rotate(10deg);
}

#IntroductoryArea #Details h2,
#IntroductoryArea #Details code {
	transition: transform 0.5s, margin-left 0.5s;
}

#IntroductoryArea #Details:hover h2 {
	transform: scale(1.025) rotate(-2deg);
}

#IntroductoryArea #Details:hover code {
	transform: scale(1.025) rotate(-3deg);
}

#NewUsersBox .User,
#NewUsersBox .User * {
	transition: transform 0.25s;
}

#NewUsersBox .User:hover {
	transform: scale(1.05);
}

#NewUsersBox .User:hover img {
	transform: scale(1.025) rotate(3deg);
}