#ThumbnailSwitcher {
	background: url("/public/images/thumbnail/3D.png");
	background-position: -10px -10px;
	width: 48px;
	height: 48px;
	border: 1px solid var(--border);
	border-radius: 12px;
	position: absolute;
	right: 0px;
	cursor: pointer;
	box-shadow: var(--shadow);
}

#ThumbnailSwitcher:hover {
	background-image: url("/public/images/thumbnail/3DHover.png");
}

#ThumbnailSwitcher[data-3d="true"] {
	background-image: url("/public/images/thumbnail/2D.png");
}

#ThumbnailSwitcher[data-3d="true"]:hover {
	background-image: url("/public/images/thumbnail/2DHover.png");
}

.thumbnail-holder {
	margin: 0 auto;
	position: relative;
}

.thumbnail-span {
	width: 100%;
	height: 100%;
	display: block;
}
